#about {
    letter-spacing: 0.02em;
    line-height: 1.5;
}

#about .title {
    padding-top: 2em;
    font-size: 2em;
    font-weight: 700;
    color: #eee;
    text-align: center;
}

#about .text {
    margin: 1em 0;
}