.home-content {
    display: flex;
    flex-direction: column;
    padding-top: 0 !important;
}

.home-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.text-block-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}